<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkx.cn.personel.mapper.LeaveBillMapper">
	<select id="list" resultType="com.zkx.cn.domain.LeaveBill">
		select * from leave_bill
	</select>
	<select id="get" resultType="com.zkx.cn.domain.LeaveBill" parameterType="java.lang.String">
		select * from leave_bill where id=#{id}
	</select>
	<delete id="remove" parameterType="java.lang.String">
		delete from leave_bill where id=#{id}
	</delete>
	<update id="update" parameterType="com.zkx.cn.domain.LeaveBill">
		update leave_bill set days=#{days},content=#{content},remark=#{remark},leave_date=#{leaveDate},state=#{state},user_id=#{userId}，process_Id=#{processId} where id=#{id}
	</update>
	<insert id="add" parameterType="com.zkx.cn.domain.LeaveBill">
		insert into leave_bill(user_id,days,content,remark,leave_date,state,process_id) values (#{userId},#{days},#{content},#{remark},#{leaveDate},#{state},#{processId})
	</insert>
</mapper>